.flags {
	text-align: center;
	margin: 40px 0;
}

.flag {
  background-size: contain;
  background-position: 100%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
	margin: 5px;
  width: 2.3em;
	height: 2.3em;
  line-height: 1em;
}
.flag:before {
  content: "\00a0";
}

/* Icons from https://github.com/lipis/flag-icon-css */

.flag-ru { background-image: url(../images/flag-icon/ru.svg); }
.flag-es { background-image: url(../images/flag-icon/es.svg); }
.flag-de { background-image: url(../images/flag-icon/de.svg); }
.flag-cz { background-image: url(../images/flag-icon/cz.svg); }
.flag-at { background-image: url(../images/flag-icon/at.svg); }
.flag-hu { background-image: url(../images/flag-icon/hu.svg); }
.flag-it { background-image: url(../images/flag-icon/it.svg); }
.flag-hr { background-image: url(../images/flag-icon/hr.svg); }
.flag-fr { background-image: url(../images/flag-icon/fr.svg); }
.flag-dk { background-image: url(../images/flag-icon/dk.svg); }
.flag-pl { background-image: url(../images/flag-icon/pl.svg); }
.flag-pt { background-image: url(../images/flag-icon/pt.svg); }
.flag-gb { background-image: url(../images/flag-icon/gb.svg); }
.flag-th { background-image: url(../images/flag-icon/th.svg); }
.flag-my { background-image: url(../images/flag-icon/my.svg); }
.flag-id { background-image: url(../images/flag-icon/id.svg); }
.flag-sg { background-image: url(../images/flag-icon/sg.svg); }
.flag-hk { background-image: url(../images/flag-icon/hk.svg); }
.flag-me { background-image: url(../images/flag-icon/me.svg); }
.flag-ba { background-image: url(../images/flag-icon/ba.svg); }
.flag-ae { background-image: url(../images/flag-icon/ae.svg); }
.flag-be { background-image: url(../images/flag-icon/be.svg); }
.flag-ch { background-image: url(../images/flag-icon/ch.svg); }
.flag-nl { background-image: url(../images/flag-icon/nl.svg); }
.flag-mt { background-image: url(../images/flag-icon/mt.svg); }
.flag-gr { background-image: url(../images/flag-icon/gr.svg); }
.flag-tk { background-image: url(../images/flag-icon/tk.svg); }
.flag-us { background-image: url(../images/flag-icon/us.svg); }
