<div class="section blog">
  <h3>Latest articles</h3>
  <p>
    <a target="href" href="https://mkdev.me/posts/doklad-serverless-architecture-i-aws-na-railsclub-2016">Доклад «Serverless Architecture и AWS» на RailsClub 2016</a>
	</p>
	<p>
    <a target="href" href="https://mkdev.me/posts/kak-nash-mentor-pereehal-rabotat-v-berlin">Как я переехал работать в Берлин</a>
	</p>
	<p>
		<a target="href" href="https://mkdev.me/posts/nahodim-pohozhie-rezultaty-v-postgresql-ili-poisk-s-oshibkami">Находим похожие результаты в PostgreSQL или поиск с ошибками</a>
	</p>
	<p>
    <a target="href" href="https://mkdev.me/posts/nastroyka-i-deploy-rails-prilozheniy-pri-pomoschi-ansible-i-capistrano">Настройка и деплой Rails приложений при помощи Ansible и Capistrano</a>
	</p>
</div>
