<div class="section blog">
  <h3>Latest publications</h3>
  <p>
    <a target="href" href="https://www.youtube.com/watch?v=S5n-ZJ00_x0"
      >How to manage developers remotely</a
    >
  </p>
  <p>
    <a
      target="href"
      href="https://www.forbes.at/artikel/why-bodilessness-limits-ai-learning.html"
      >Forbes: Why Bodilessness Limits AI Learning</a
    >
  </p>
  <p>
    <a target="href" href="https://www.youtube.com/watch?v=_1bhfqzAxT0"
      >«Serverless Architecture и AWS» on RailsClub 2016</a
    >
  </p>
  <p>
    <a
      target="href"
      href="https://gist.github.com/davetoxa/b2006e1998aabfdaa194"
      >How I moved to Berlin in 2016</a
    >
  </p>
  <p>
    <a
      target="href"
      href="https://gist.github.com/davetoxa/8973c0c23d4fa73fa666"
      >Find similar results in PostgreSQL or search with errors</a
    >
  </p>
  <p>
    <a
      target="href"
      href="https://gist.github.com/davetoxa/c0a24ad76bfd2b6e5b80"
      >Setting up and deploying Rails applications using Ansible and
      Capistrano</a
    >
  </p>
</div>
