<div class="section blog">
  <h3>Latest articles</h3>
  <p>
    <a target="href" href="https://www.forbes.at/artikel/why-bodilessness-limits-ai-learning.html">Forbes: Why Bodilessness Limits AI Learning</a>
  </p>
  <p>
    <a target="href" href="https://www.youtube.com/watch?v=_1bhfqzAxT0">Доклад «Serverless Architecture и AWS» на RailsClub 2016</a>
	</p>
	<p>
    <a target="href" href="https://gist.github.com/davetoxa/b2006e1998aabfdaa194">Как я переехал работать в Берлин в 2016 году</a>
	</p>
	<p>
		<a target="href" href="https://gist.github.com/davetoxa/8973c0c23d4fa73fa666">Находим похожие результаты в PostgreSQL или поиск с ошибками</a>
	</p>
	<p>
    <a target="href" href="https://gist.github.com/davetoxa/c0a24ad76bfd2b6e5b80">Настройка и деплой Rails приложений при помощи Ansible и Capistrano</a>
	</p>
</div>
