<div class="section connect">
  <h3>Let's connect</h3>
  <ul>
    <li>
      <a href="https://instagram.com/davetoxa" target="_blank"
        ><i class="fa fa-instagram"></i
      ></a>
    </li>
    <li>
      <a href="https://facebook.com/davetoxa" target="_blank"
        ><i class="fa fa-facebook"></i
      ></a>
    </li>
    <li>
      <a href="https://github.com/davetoxa" target="_blank"
        ><i class="fa fa-github"></i
      ></a>
    </li>
    <li>
      <a href="https://telegram.me/davetoxa" target="_blank"
        ><i class="fa fa-telegram"></i
      ></a>
    </li>
    <li>
      <a href="https://linkedin.com/in/anthony-cherepanov" target="_blank"
        ><i class="fa fa-linkedin"></i
      ></a>
    </li>
  </ul>
</div>
