<div class="section connect">
	<h3>Let's connect</h3>
	<ul>
		<li>
			<a href="http://instagram.com/davetoxa" target="_blank"><i class="fa fa-instagram"></i></a>
		</li>
		<li>
			<a href="http://facebook.com/davetoxa" target="_blank"><i class="fa fa-facebook"></i></a>
		</li>
		<li>
			<a href="http://twitter.com/davetoxa" target="_blank"><i class="fa fa-twitter"></i></a>
		</li>
		<li>
			<a href="http://github.com/davetoxa" target="_blank"><i class="fa fa-github"></i></a>
		</li>
		<li>
			<a href="skype:davetoxa?chat" target="_blank"><i class="fa fa-skype"></i></a>
		</li>
		<li>
			<a href="mailto:davetoxa@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
		</li>
		<li>
			<a href="https://linkedin.com/in/davetoxa" target="_blank"><i class="fa fa-linkedin"></i></a>
		</li>
	</ul>
</div>
