<div class="section networks">
	<h3>Let's connect</h3>
	<ul>
		<li>
			<a href="http://facebook.com/davetoxa" target="_blank"><i class="fa fa-facebook"></i></a>
		</li>
		<li>
			<a href="http://twitter.com/davetoxa" target="_blank"><i class="fa fa-twitter"></i></a>
		</li>
		<li>
			<a href="http://instagram.com/davetoxa" target="_blank"><i class="fa fa-instagram"></i></a>
		</li>
		<li>
			<a href="http://github.com/davetoxa" target="_blank"><i class="fa fa-github"></i></a>
		</li>
		<li>
			<a href="skype:davetoxa?chat" target="_blank"><i class="fa fa-skype"></i></a>
		</li>
		<li>
			<a href="mailto:davetoxa@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
		</li>
	</ul>
</div>
<div class="section footer">
	<p>© {{ site.time | date: '%Y' }} Anton Cherepanov</p>
</div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter26930373 = new Ya.Metrika({
                    id:26930373
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/26930373" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
