<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>
  <meta name="keywords" content="{{ site.keywords }}" />
  <meta name="description" content="{{ site.description }}" />

  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:description" content="{{ site.keywords }}" />
  <meta property="og:image" content="images/background.jpg" />

  <meta
    name="google-site-verification"
    content="PvU3Mjf9LM8PYANQldykLhWZOnv-5w8QdITEEkCPsZA"
  />

  <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
  <link rel="stylesheet" href="/css/main.css" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"
  />
</head>
