<div class="intro">
	<div class="intro-inner">
		<div class="intro-gradient"></div>
		<div class="intro-pitch">
			<div class="intro-pitch-inner">
				<img src="/images/avatar.jpg" alt="Anton Cherepanov" class="intro-avatar">
				<p>Anton Cherepanov</p>
				<h2>Full-Stack Engineer at <a href="https://babbel.com" target="_blank">Babbel</a></h2>
				<ul class="tags">
					<li class="tag">ruby</li>
					<li class="tag">ruby on rails</li>
					<li class="tag">javascript</li>
					<li class="tag">coffeescript</li>
					<li class="tag">react</li>
					<li class="tag">node.js</li>
					<br>
					<li class="tag">elasticsearch</li>
					<li class="tag">postgresql</li>
					<li class="tag">ansible</li>
					<li class="tag">aws</li>
					<li class="tag">devops</li>
					<br>
					<li class="tag">sport</li>
					<li class="tag">music</li>
					<li class="tag">traveling</li>
					<br>
					<li class="tag">ru</li>
					<li class="tag">en</li>
					<br>
					<li class="tag"><a href="https://mkdev.me" class="mkdev" target="_blank">mkdev - learn web dev with me</a></li>
				</ul>
				</div>
		</div>
	</div>
</div>
