<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="ruby, rails, ruby on rails, javascript, node, engineer, mentor, aws, devops, davetoxa">
    <meta name="description" content="Anton Cherepanov. Full Stack Engineer. Mentor">

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/flags.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
