<div class="intro">
	<div class="intro-inner">
		<div class="intro-gradient"></div>
		<div class="intro-pitch">
			<div class="intro-pitch-inner">
				<img src="/images/avatar.png" alt="Anton Cherepanov" class="intro-avatar">
				<p>Anton Cherepanov</p>
				<h2>Ruby on Rails Developer at Evrone</h2>
				<ul class="tags">
					<li class="tag">ruby</li>
					<li class="tag">ruby on rails</li>
					<li class="tag">javascript</li>
					<li class="tag">coffescript</li>
					<li class="tag">backbone.js</li>
					<li class="tag">elasticsearch</li>
					<br>
					<li class="tag">sport</li>
					<li class="tag">music</li>
					<li class="tag">traveling</li>
					<li class="tag">education</li>
				</ul>
				</div>
		</div>
	</div>
</div>
