<div class="intro">
	<div class="intro-inner">
		<div class="intro-gradient"></div>
		<div class="intro-pitch">
			<div class="intro-pitch-inner">
				<img src="/images/avatar.jpg" alt="Anton Cherepanov" class="intro-avatar">
				<p>Anton Cherepanov</p>
				<h2>Full-Stack Engineer</h2>
				<ul class="tags">
					<li class="tag">Ruby</li>
					<li class="tag">Ruby on Rails</li>
					<li class="tag">Node</li>
					<li class="tag">JavaScript</li>
					<li class="tag">CoffeeScript</li>
					<li class="tag">React</li>
					<br>
					<li class="tag">PostgreSQL</li>
					<li class="tag">Elastic</li>
					<li class="tag">DevOps</li>
					<li class="tag">AWS</li>
					<li class="tag">Ansible</li>
					<br>
					<li class="tag">Sport</li>
					<li class="tag">Traveling</li>
					<li class="tag">Music</li>
					<br>
					<li class="tag">ru</li>
					<li class="tag">en</li>
					<br>
					<li class="tag"><a href="https://mkdev.me/mentors/davetoxa" class="mkdev" target="_blank">mkdev - learn web dev with me</a></li>
				</ul>
				</div>
		</div>
	</div>
</div>
