<div class="intro">
	<div class="intro-inner">
		<div class="intro-gradient"></div>
		<div class="intro-pitch">
			<div class="intro-pitch-inner">
				<img src="/images/avatar.jpeg" alt="Anthony Cherepanov" class="intro-avatar">
				<p>Anthony Cherepanov</p>
				<h2>Full-Stack Engineer</h2>
				<ul class="tags">
					<li class="tag">Ruby</li>
					<li class="tag">Ruby on Rails</li>
					<li class="tag">Go lang</li>
					<li class="tag">React</li>
					<li class="tag">Vue</li>
					<br>
					<li class="tag">PostgreSQL</li>
					<li class="tag">Amazon Web Services</li>
					<br>
					<li class="tag">Sport</li>
					<li class="tag">Traveling</li>
					<li class="tag">EDM</li>
					<br>
					<li class="tag">ru</li>
					<li class="tag">en</li>
					<li class="tag">de</li>
					<br>
				</ul>
				</div>
		</div>
	</div>
</div>
