<div id='map' style="display: none; width: 100%; height: 400px; position: relative"></div>
<script>
	function initMap() {
	  var map = new google.maps.Map(document.getElementById('map'), {
	    center: {lat: 55.76, lng: 37.64},
	    zoom: 3,
      disableDefaultUI: false,
      zoomControl: false,
      mapTypeControl: false,
      streetViewControl: false
	  });

	  var marker = new google.maps.Marker({
	    map: map,
	    position: {lat: 55.76, lng: 37.64},
	    title: 'Hello World!'
	  });
	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqNq_toSILfoopu1tW-gmRptEZIcCOAeQ&language=en&callback=initMap" type="text/javascript"></script>
