<div class="flags">
	<h3>Visited countries</h3>
	<span class="flag flag-ru"></span>
	<span class="flag flag-es"></span>
	<span class="flag flag-de"></span>
	<span class="flag flag-cz"></span>
	<span class="flag flag-at"></span>
	<span class="flag flag-hu"></span>
	<span class="flag flag-it"></span>
	<span class="flag flag-hr"></span>
	<span class="flag flag-fr"></span>
	<span class="flag flag-dk"></span>
	<span class="flag flag-pl"></span>
	<span class="flag flag-pt"></span>
	<span class="flag flag-gb"></span>
	<span class="flag flag-th"></span>
	<span class="flag flag-my"></span>
	<span class="flag flag-id"></span>
	<span class="flag flag-sg"></span>
	<span class="flag flag-hk"></span>
	<span class="flag flag-me"></span>
	<span class="flag flag-ba"></span>
	<span class="flag flag-ae"></span>
	<span class="flag flag-be"></span>
	<span class="flag flag-nl"></span>
	<span class="flag flag-mt"></span>
	<span class="flag flag-gr"></span>
	<span class="flag flag-tk"></span>
</div>

<div class="map"></div>
<script>
	function initMap() {
	  var map = new google.maps.Map(document.getElementsByClassName('map')[0], {
	    center: {lat: 37, lng: 25},
	    zoom: 2,
      disableDefaultUI: false,
      zoomControl: true,
      mapTypeControl: true,
      streetViewControl: true,
			scrollwheel:  true
	  });

		var locations = [
			[47.24, 38.86], // Taganrog
			[53.41, 59.00], // Magnitogorsk
			[55.76, 37.64], // Moscow
			[41.38, 2.17],  // Barcelona
			[41.11, 1.24],  // Tarragona
			[52.52, 13.40], // Berlin
			[48.20, 16.37], // Vienna
			[50.07, 14.43], // Prague
			[47.49, 19.04], // Budapest
			[51.67, 39.20], // Voronez
			[54.31, 48.38], // Ulyanovsk
			[45.44, 12.31], // Venice
			[45.46, 9.18],  // Milan
			[43.76, 11.25], // Florencia
			[43.72, 10.40], // Pisa
			[41.90, 12.49], // Rome
			[43.50, 16.44], // Split
			[47.23, 39.70], // Rostov on don
			[48.85, 2.35],  // Paris
			[51.05, 13.73], // Dresden
			[39.50, 2.52],  // Magaluf
			[39.56, 2.61],  // Palma
			[53.55, 9.99],  // Hamburg
			[48.13, 11.57], // Munich
			[47.49, 11.09], // Garmisch-Partenkirchen
			[55.67, 12.49], // Copenhagen
			[59.91, 30.04], // Saint Petersburg
			[50.06, 19.94], // Krakow
			[38.72, -9.14], // Lisbon
			[38.780, -9.498], // Cabo da Roca
			[41.15, -8.62], // Porto
			[37.318, -8.556], // Monchique
			[37.023, -8.996], // Cape Saint-Vincent
			[51.50, -0.12], // London
			[13.75, 100.49], // Bangkok
			[12.92, 100.88], // Pattaya City
			[7.95, 98.33], // Phuket
			[7.74, 98.77], // Ko Phi Phi Don
			[3.15, 101.71], // Kuala Lumpur
			[4.59, 101.08], // Ipoh
			[-8.40, 115.18], // Bali
			[1.35, 103.86], // Singapore
			[22.31,114.16], // Hong Kong
			[42.256, 18.896], // Sveti Stefan
			[42.70,18.35], // Trebinje
			[25.20,55.27], // Dubai
			[24.45,54.37], // Abu Dabi
			[40.41,-3.70], // Madrid
			[50.85,4.35], // Brussels
			[43.60,1.44], // Toulouse
			[47.37,8.54], // Zurich
			[52.37,4.89], // Amsterdam
			[47.26,11.39], // Innsbruck
			[35.88,14.44], // Malta
			[37.98,23.72], // Athens
			[37.44,25.33], // Mykonos
			[41.01,28.97] // Istambul
		]

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][0], locations[i][1]),
        map: map
      })
    }
	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmrJ7VZgGe9HNzLv9hGfw2javz1L2STGE&language=en&callback=initMap" type="text/javascript"></script>
