<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="wrapper">
      {% include header.html %}
      <div class="content">
        {{ content }}
      </div>
      {% include blog.html %}
      {% include learn.html %}
      {% include footer.html %}
      {% include map.html %}
      <div class="section footer">
      	<p>© 2016 Anton Cherepanov</p>
      </div>
    </div>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  </body>
</html>
